<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="row">
      <div class="page-title">
        <h1 style="padding-left: 20px">Статистика</h1>
      </div>
    </div>
    <div class="x_content">
      <div class="col-md-12">
        <div class="container">
      <div class="col-md-12" style = "text-align: center;">
        <div class="">
          <div class = "col-md-12" id="countPAC"><h1>Количество пакетов с момента запуска: Нет данных</h1></div>
          <div class = "col-md-12" id="speedPAC"><h1>Скорость обмена: Нет данных</h1></div>
        </div>
      </div>
    </div>
        <div class="container col-md-12">
          <div class="col-md-4"><canvas id="myChart"  class="col-md-4"></canvas>   </div>
          <div class="col-md-4"><canvas id="myChart2"  class="col-md-4"></canvas>   </div>
          <div class="col-md-4"><canvas id="myChart3"  class="col-md-4"></canvas>   </div>
          
        </div>
  </div>
    <div class="col-md-12">
     <div class="container col-md-12">
      <table id="myTable" cellspacing="0" border="1" class="table table-striped table-bordered dataTable no-footer"
      style="width: 100%;font-size: 20px;">
      <thead> <tr>
        <td style="width: 20px; text-align: center" >IP отправителя</td>
        <td style="width: 20px; text-align: center">IP получателя</td>
        <td style="width: 20px; text-align: center">Протокол</td>
        <td style="width: 20px; text-align: center">Кол-во пакетов</td>
        <td style="width: 20px; text-align: center">Размер пакетов (байт)</td>
        <td style="width: 20px; text-align: center">Время</td>
      </tr> 
      </thead>
      <tr><td>Нет данных</td>
        <td>Нет данных</td>
        <td>Нет данных</td>
        <td>Нет данных</td>
        <td>Нет данных</td>
        <td>Нет данных</td>
      </tr>
      
  <tbody>
   
  </tbody>
</table>
</div>
</div>
        
         </div>
     </div>
    </div>
  </div>
</div>
{{> statistics_footer}}
