<div class="body_container"></div>
  <div class="col-md-12 col-sm-12">
    <div class="x_panel" style="text-align: center">
   
      <h2>Вы действительно хотите удалить пользователя?</h2>
      <div class="x_content">
        <form class="" action="" method="POST" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrf }}" />
          <div class="" style="padding-top: 10px">
            <div class="field">
              <div class="col-md-12">
                <div class="row">
                  <a href="/users" class="btn btn-danger"> Отмена </a>
                  <button type="submit" class="btn btn-success">Удалить</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
